AmaspCSharp/bin/Debug/netstandard2.0/AmaspCSharp.deps.json
AmaspCSharp/bin/Release/netstandard2.0/AmaspCSharp.deps.json
AmaspCSharp/obj/Debug/netstandard2.0/AmaspCSharp.AssemblyInfo.cs
AmaspCSharp/obj/Release/netstandard2.0/AmaspCSharp.AssemblyInfo.cs
